
<nav class="navbar navbar-expand-lg bg-primary navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/signin">Extranet / App</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" *ngIf="isAuth" style="cursor:pointer">Prochaine livraison</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" *ngIf="isAuth" style="cursor:pointer">Consultation RDV</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" *ngIf="isAuth" style="cursor:pointer">Contact</a>
          </li>
          <li class="nav-item dropdown" style="cursor:pointer" *ngIf="userType === 'admin' && isAuth">
            <a class="nav-link dropdown-toggle"  routerLinkActive="active" role="button" data-bs-toggle="dropdown">Administration</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/client" ><i class="fas fa-user-alt"></i> Gestion Client</a></li>
              <li><a class="dropdown-item" routerLink="/user" ><i class="fas fa-user-alt"></i> Gestion Utilisateur</a></li>
              <li><a class="dropdown-item" routerLink="/consultationAdm" ><i class="fas fa-calendar-alt"></i> Rendez-vous</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex" *ngIf="isAuth">
          <input class="form-control me-2" type="text" placeholder="Search">
          <button class="btn btn-primary" type="button">Search</button>
        </form>
        <button class="btn btn-warning btn-md mx-3" *ngIf="isAuth" style="cursor:pointer" (click)="signOut()">Logout</button>
      </div>
    </div>
  </nav>

  